<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration> <!-- debug="true" -->
  <!-- <property name="" value="" /> -->
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
  
  <!-- Application loggers -->
  <logger name="com.wuzu" level="debug" />
  
  <!-- 3rd party loggers -->
  <logger name="org.springframework.core" level="info" />
  <logger name="org.springframework.beans" level="info" />
  <logger name="org.springframework.context" level="info" />
  <logger name="org.springframework.web" level="info" />
</configuration>